body {
    background-color: #3E94EC;
    width: 100%;
    color: #666B85;
}

table {
    font-family: 'Roboto', sans-serif;
    font-weight: 20;
    font-size: 20px;
    border-spacing: 0;
    width: 700px;
    border-radius: 5px;
    padding: 20px 20px;
}

th {
    background-color: black;
    color: #EBEBEB;    
    font-weight: 100;
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    border-bottom: 3px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
}

tr {
    background-color: white;
    height: 70px;
}

td {
    padding: 0px 20px;
    border-bottom: 1px solid #C1C3D1;
}

section {
    margin: 20px auto;
    width: 500px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px;    
    border-bottom-style: hidden;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-style: hidden;
}

th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
    border-right-style: hidden;
}

tr:nth-child(even) {
    background: #EBEBEB;
}

td:first-child {
    border-right: 1px solid #C1C3D1;
}
