body {
    background-color: lightgoldenrodyellow;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

table,
th,
td {
    border-collapse: collapse;
    border: 2px solid grey;
    text-align: center;
    alignment: center;
    margin: auto;
}

th {
    font-size: 20px;
    background-color: lightblue;
    padding: 10px 30px;
    color: white;
}

td {
    font-size: 15px;
    padding: 7px 30px;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
}

#balance-raise-button {
    text-align: center;
    padding: auto;
    border-radius: 50px;
    border: darkgray solid 1px;
}

#balance-raise-button:focus {
    background-color: aquamarine;
}

.table:nth-child(even) {
    background-color: grey;
}
