body {
    background-color: #E8E9EB;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: #E6BEAE;
}

table,
th,
td {
    border-collapse: collapse;
    border: 2px solid grey;
    text-align: center;
    alignment: center;
    margin: auto;
}

th {
    font-size: 20px;
    background-color: #E6BEAE;
    padding: 10px 30px;
    color: white;
}

td {
    font-size: 15px;
    padding: 7px 30px;
}

#balance-raise-button {
    text-align: center;
    /*padding: auto;*/
    padding-top: 10px;
    border: darkgray solid 1px;
    font-size: 17px;
    color: grey;
}

#balance-raise-button:focus {
    background-color: white;
}

table {
    background-color: #E0DFD5;
}

#send-button {
    font-size: 16px;
    width: 130px;
    height: 28px;
    background-color: #E6BEAE;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#add-button {
    background-color: #E6BEAE;
    margin-left: 330px;
    margin-top: 30px;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 180px;
    font-size: 20px;
}

.raise {
    text-align: center;
    margin-top: 30px;
}