<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Owner</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{'/petclinic/'}">HOME</a>
            <a th:href="@{'/petclinic/findowner'}">FIND OWNERS</a>
            <a th:href="@{'/petclinic/veterinarians'}">VETERINARIANS</a>
            <a th:href="@{'/petclinic/error'}">ERROR</a>
        </div>
    </nav>
</header>
<h2>Find owners</h2>
<section>
    <form th:action="@{/petclinic/listowner}" method="get">
        <label for="findOwner">Last name </label>
        <input type="text" id="findOwner">
        <button th:type="submit">Find Owner</button>
    </form>
</section>
<section>
    <form th:action="@{/petclinic/addowner}" method="get">
        <button th:type="submit">Add Owner</button>
    </form>
</section>
</body>
</html>