<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new assignee</title>
</head>
<body>
<h1>Add new todo</h1>
<form th:action="@{/assignee/add}" method="post">
    <div>
        <label for="addName">Name: </label>
        <input th:type="text" id="addName" name="name">
    </div>
    <div>
        <label for="addEmail">Email: </label>
        <input th:type="text" id="addEmail" name="email">
    </div>
    <button th:type="submit">SUBMIT</button>
</form>
</body>
</html>