<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignees</title>
</head>
<body>
<h1>Assignee List</h1>
<div>
    <a href="/todo/">List of Todos</a>
</div>
<br>
<div>
    <a th:href="@{/assignee/add}">Add new assignee</a>
</div>
<br>
<table>
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    <tbody>
    <tr th:each="assignee : ${assignees}">
        <td>
            <a th:href="@{'/todo?assignee=' + ${assignee.name}}" th:text="${assignee.name}" name="name"></a>
        </td>
        <td th:text="${assignee.email}"></td>
        <td>
            <form th:action="@{'/assignee/' + ${assignee.getId()} + '/delete'}" method="post" name="id">
                <button th:type="submit">delete</button>
            </form>
        </td>
        <td>
            <a th:href="@{'/assignee/' + ${assignee.getId()} + '/edit'}">
                <button>edit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>