<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit Todo</h1>
<form action="#" th:action="@{'/todo/' + ${todo.getId()} + '/edit'}" th:method="post">
    <div>
        <label for="editTodo">Todo Description</label>
        <input type="text" id="editTodo" name="title" th:value="${todo.title}">
    </div>
    <div>
        <label for="checkUrgent">Urgent</label>
        <input type="checkbox" id="checkUrgent" name="isUrgent" th:checked="${todo.isUrgent}"><br>
    </div>
    <div>
        <label for="checkDone">Done</label>
        <input type="checkbox" id="checkDone" name="isDone" th:checked="${todo.isDone}"><br>
    </div>
    <div>
        <label for="dueDate">Due date</label>
        <input type="date" id="dueDate" name="dueDate" th:value="${todo.getDueDate()}">
    </div>
    <div>
        <select name="name">
            <option th:each="assignee : ${assignees}" th:text="${assignee.name}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Submit</button>
        <a href="/todo">Cancel</a>
    </div>
</form>
</body>
</html>