<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit assignee</h1>
<form th:action="@{'/assignee/' + ${assignee.getId()} + '/edit'}" method="post">
    <div>
        <label for="editName">Name</label>
        <input type="text" id="editName" name="name" th:value="${assignee.name}">
    </div>
    <div>
        <label for="editEmail">Email</label>
        <input type="text" id="editEmail" name="email" th:value="${assignee.email}">
    </div>
    <div>
        <button type="submit">Submit</button>
        <a href="/todo">Cancel</a>
    </div>
</form>
</body>
</html>