<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
<h1>Todos for today:</h1>
<div>
    <a href="/assignee/">List of Assignees</a>
</div>
<br>
<div>
    <a th:href="@{/todo/add}">Add new todo</a>
</div>
<br>
<form th:action="@{'/todo'}" method="get">
    <label for="searchTodo">Search todo</label>
    <input th:type="text" id="searchTodo" name="title">
    <button th:type="submit">Search</button>
</form>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>DUE DATE</th>
        <th>TITLE</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th>ASSIGNEE</th>
    </tr>
    <tbody>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getDueDate()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.getIsUrgent()}"></td>
        <td th:text="${todo.getIsDone()}"></td>
        <td>
            <a th:href="@{'/assignee/' + ${todo.getAssignee()?.getId()}}" th:text="${todo.getAssignee()?.getName()}" name="id"></a>
        </td>
        <td>
            <form th:action="@{'/todo/' + ${todo.getId()} + '/delete'}" method="post" name="id">
                <button th:type="submit">delete</button>
            </form>
        </td>
        <td>
            <a th:href="@{'/todo/' + ${todo.getId()} + '/edit'}">
                <button>edit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>