<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new account</title>
    <link href="addAccount.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <h2>ADD NEW ACCOUNT</h2>
    <section>
        <div>
                <label for="animal">Name: </label>
                <input type="text" id="animal" name="name">
        </div>
        <div>
                <label for="animal">Type: </label>
                <select name="" id="">
                <option value="lion">Lion</option>
                <option value="meerkat">Meerkat</option>
                <option value="warthog">Warthog</option>
                <option value="red-billed-hornbill">Red-billed hornbill</option>
                <option value="hyena">Hyena</option>
                <option value="gopher">Gopher</option>
                <option value="other">Other</option>
                </select>
        </div>
                <label for="balance">Balance: </label>
                <input type="" id="balance" name="name">
        <div>
                <p>Good or bad guy?</p>
                <input type="radio" name="good" value="goodOne">Good one<br>
                <input type="radio" name="good" value="badGuy">Bad guy<br>
        </div>
        <div>
                <input type="checkbox" name="king" value="true">Is King?<br>
        </div>
        <div>
            <form action="/list">
                <button type="submit" id="add">Add</button>
            </form>
        </div>
    </section>
</body>
</html>