<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banks List</title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<h2>CLIENTS OF BANK OF SIMBA</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>KING?</th>
            <th>NAME</th>
            <th>BALANCE</th>
            <th>TYPE</th>
            <th>GOOD/BAD</th>
        </tr>
        <tr th:each="bank : ${banks}" th:object="${bank}">
            <td th:text="${bankStat.count}"></td>
            <td th:utext="*{getIsKing()} ? '<b>KING</b>' : 'Not King'"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')} + ' $'"></td>
            <td th:text="*{animalType}"></td>
            <td th:text="*{getIsGood()} ? 'Good one' : 'Bad guy'"></td>
        </tr>
    </table>
    <form class="raise" action="/list" method="post">
        <div>
            <label for="animal">Please write here which character's balance you would like to raise: </label>
            <input type="text" id="animal" name="name">
            <button type="submit" id="send-button">RAISE</button>
        </div>
    </form>
    <form class="addAccount" action="/add" method="get">
        <div>
            <button type="submit" id="add-button">Add new account</button>
        </div>
    </form>
</body>
</html>