<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banks List</title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8"/>
</head>
<body>
   <table>
       <tr>
           <th>ID</th>
           <th>KING?</th>
           <th>NAME</th>
           <th>BALANCE</th>
           <th>TYPE</th>
           <th>GOOD/BAD</th>
       </tr>
       <tr th:each="bank : ${banks}" th:object="${bank}">
           <td th:text="${bankStat.count}"></td>
           <td th:text="*{isKing() ? 'KING' : '-'}"></td>
           <td th:text="*{name}"></td>
           <td th:text="*{balance}"></td>
           <td th:text="*{animalType}"></td>
           <td th:switch="*{isGood()}">
               <span th:case="*{true}" th:text="'Good one'"></span>
               <span th:case="*{false}" th:text="'Bad guy'"></span>
           </td>
       </tr>
   </table>
</body>
</html>