<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{'/?name=' +  ${name}}">Information</a>
        </div>
        <div>
            <a th:href="@{'/nutritionStore?name=' + ${name}}">Nutrition Store</a>
        </div>
        <div>
            <a th:href="@{'/trick?name=' + ${name}}">Trick center</a>
        </div>
        <div>
            <a th:href="@{'/actionhistory?name=' + ${name}}">Action history</a>
        </div>
    </nav>
</header>
<div>
    <h2>Action history</h2>
    <div th:text="${actionList}">

    </div>
</div>
</body>
</html>