<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{'/?name=' +  ${fox.name}}">Information</a>
        </div>
        <div>
            <a th:href="@{'/nutritionStore?name=' + ${fox.name}}">Nutrition Store</a>
        </div>
        <div>
            <a th:href="@{'/trick?name=' + ${fox.name}}">Trick center</a>
        </div>
        <div>
            <a th:href="@{'/actionhistory?name=' + ${fox.name}}">Action history</a>
        </div>
    </nav>
</header>
<div>
    <img th:src="@{img/greenfox.png}" alt="Fox">
</div>
<div>
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He/She knows ' + ${fox.ownTrickList.size()} + ' trick(s).'"></p>
</div>
<div>
    <h2>Known tricks</h2>
    <div>
        <div th:switch="${fox.ownTrickList.size()}">
            <p th:case="0">You know no tricks yet. Go to the trick center and learn some! ;)</p>
            <p th:case="*" th:text="${fox.ownTrickList}"></p>
        </div>
    </div>
</div>
<div>
    <h2>Action history</h2>
    
</div>
</body>
</html>