<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{'/?name=' +  ${fox.name}}">Information</a>
        </div>
        <div>
            <a th:href="@{'/nutritionStore?name=' + ${fox.name}}">Nutrition Store</a>
        </div>
        <div>
            <a th:href="@{'/trick?name=' + ${fox.name}}">Trick center</a>
        </div>
        <div>
            <a th:href="@{'/actionhistory?name=' + ${fox.name}}">Action history</a>
        </div>
    </nav>
</header>
<div>
    <img th:src="@{img/greenfox.png}" alt="Fox">
</div>
<div>
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He/She knows ' + ${fox.ownTrickList.size()} + ' trick(s).'"></p>
</div>
<div>
    <h2>Known tricks</h2>
    <div>
        <div th:switch="${fox.ownTrickList.size()}">
            <p th:case="0">You know no tricks yet. Go to the trick center and learn some! ;)</p>
            <ul th:each="trick : ${fox.ownTrickList}">
                <li th:text="${trick}"></li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div>

<!--    display the five latest actions to the information page-->

    <h2>Action history</h2>
    <div>
        <form th:action="'/actionhistory?name=' + ${fox.name}" method="post">
            <div th:if="${actionList.size() <= 5}">
                <div th:if="${actionList.size() == 0}">
                    <p>No actions happened! Feed your fox or play with it!</p>
                </div>
                <div th:unless="${actionList.size() == 0}">
                    <ul th:each="action : ${actionList}">
                        <li th:text="${action}"></li>
                    </ul>
                </div>
            </div>
            <div th:unless="${actionList.size() <= 5}">
                <ul th:each="action : ${latestFiveAction}">
                    <li th:text="${action}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
</body>
</html>