<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set nutrition</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{'/?name=' + ${name}}">Information</a>
        </div>
        <div>
            <a th:href="@{'/nutritionStore?name=' + ${name}}">Nutrition Store</a>
        </div>
        <div>
            <a th:href="@{'/?name=' + ${name} + '/trick'}">Trick center</a>
        </div>
    </nav>
</header>
<form th:action="@{'/nutritionStore?name=' + ${name}}" method="post">
    <label for="food">Food: </label>
    <select name="food" id="food">
        <option value="meat">Meat</option>
        <option value="grass">Grass</option>
        <option value="seeds">Seeds</option>
        <option value="worms">Worms</option>
    </select>
    <label for="drink">Drink: </label>
    <select name="drink" id="drink">
        <option value="water">Water</option>
        <option value="milk">Milk</option>
        <option value="wine">Wine</option>
        <option value="tea">Tea</option>
    </select>
    <button th:type="submit">CHANGE</button>
</form>
</body>
</html>