<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{'/?name=' +  ${name}}">Information</a>
        </div>
        <div>
            <a th:href="@{'/nutritionStore?name=' + ${name}}">Nutrition Store</a>
        </div>
        <div>
            <a th:href="@{'/?name=' + ${name} + '/trick'}">Trick center</a>
        </div>
    </nav>
</header>
<form th:action="@{'/?name=' + ${name}}" method="post">
    <label for="food">Food: </label>
    <input th:type="text" name="food" id="food">
    <label for="drink">Drink: </label>
    <input th:type="text" name="drink" id="drink">
    <button th:type="submit">CHANGE</button>

<!--    <select th:field="*{percentage}">-->
<!--        <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">-->
<!--        </option>-->
<!--    </select>-->

</form>
</body>
</html>