<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add tricks</title>
</head>
<body>
<header>
    <nav>
        <div>
            <a th:href="@{'/?name=' + ${name}}">Information</a>
        </div>
        <div>
            <a th:href="@{'/nutritionStore?name=' + ${name}}">Nutrition Store</a>
        </div>
        <div>
            <a th:href="@{'/trick?name=' + ${name}}">Trick center</a>
        </div>
        <div>
            <a th:href="@{'/actionhistory?name=' + ${name}}">Action history</a>
        </div>
    </nav>
</header>
<form th:action="'/trick?name=' + ${name}" method="post">
    <div th:if="${trickList.size() > 0}">
        <label for="tricks">Tricks</label>
        <select name="trickName" id="tricks">
            <option th:each="trick : ${trickList}" th:text="${trick.trickName}">
            </option>
        </select>
        <button th:type="submit">LEARN</button>
    </div>
    <div th:unless="${trickList.size() > 0}">Congratulation! You have learned all the tricks!</div>
</form>
</body>
</html>