<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>PLEASE CHOOSE</h2>
<form class="coloring" action="/useful/background" method="get">
    <button th:type="submit" id="background-color">GET RANDOM BACKGROUND COLOR</button>
</form>
<!--<form class="email" action="/useful/email" method="get">-->
<!--    <button th:type="submit" id="email">EMAIL VALIDATOR</button>-->
<!--</form>-->
<!--<form class="encoding" action="/useful/encoding" method="get">-->
<!--    <button th:type="submit" id="encoding">ENCODING/DECODING TEXT</button>-->
<!--</form>-->
</body>
</html>