<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:action="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit Todo</h1>
<form action="#" th:action="@{'/todo/' + ${todo.getId()} + '/edit'}" method="get" name="id">
    <label for="editTodo">Todo Description</label>
    <input th:type="text" id="editTodo" th:field="${todo.title}">
    <div>
        <label for="checkUrgent">Urgent</label>
        <input type="checkbox" id="checkUrgent" th:checked="${todo.isUrgent()}" th:field="${todo.isUrgent()}"><br>
    </div>
    <div>
        <label for="checkDone">Done</label>
        <input type="checkbox" id="checkDone" th:checked="${todo.isDone()}" th:field="${todo.isDone()}"><br>
    </div>
    <div>
        <button th:type="submit">Submit</button>
        <a th:href="@{/todo}">Cancel</a>
    </div>
</form>
</body>
</html>