<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
    <h1>Todos for today:</h1>
    <a th:href="@{/todo/add}">Add new todo</a>
    <br>
    <div>

    </div>
    <table>
        <tr>
            <th>  ID  </th>
            <th>  TITLE  </th>
            <th>  URGENT  </th>
            <th>  DONE  </th>
        </tr>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td th:text="${todo.isUrgent()}"></td>
            <td th:text="${todo.isDone()}"></td>
            <td>
                <form th:action="@{'/todo/' + ${todo.getId()} + '/delete'}" method="post" name="id">
                    <button th:type="submit">delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/todo/' + ${todo.getId()} + '/edit'}" method="post" name="id">
                    <button th:type="submit">edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>